@using Sikiro.Web.Admin.Models.Form
@{
    ViewData["Title"] = "首页";
    var dateName = (string)ViewBag.dateName;
    var userName = (string)ViewBag.UserName;
}
@section Head{

    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">

    <style>

        .main_user_card {
            display: flex;
            align-content: center;
            align-items: center;
        }

            .main_user_card img {
                width: 75px;
                height: 75px;
                margin-right: 10px;
            }

        .main_user_other {
            flex: 1;
        }

            .main_user_other .name {
                font-size: 20px;
                color: #000;
                margin-bottom: 10px;
            }

            .main_user_other .other {
                color: #999;
                font-size: 16px;
            }

                .main_user_other .other span {
                    padding-right: 10px;
                    padding-left: 10px;
                }

        .mainDataStyle {
            height: 75px !important;
            line-height: 75px !important;
            text-align: center;
            padding: 0 !important;
        }
    </style>

}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    当前用户
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <div class="main_user_card">
                        <img src="/img/userlogo.jpg" class="layui-circle">
                        <div class="main_user_other">
                            <div class="name">@(dateName)，@(userName)，祝你开心每一天！</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
