@{
    ViewData["Title"] = "Index";
}
@using Sikiro.Web.Admin.Permission
@model Sikiro.Web.Admin.Models.PageListParams<Sikiro.Web.Admin.Models.ProductAging.ProductParams>
@section Head{
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">

                <layuiInput asp-for="Params.ProductName" text="产品名称" placeholder="请输入" />
                <layuiTableFreshButton id="btn-submit" targetFormId="ProductAging-table" />
            </div>
        </div>

        <div class="layui-card-body" id="produts">
            <div style="padding-bottom: 10px;">
                <a class="layui-btn layuiadmin-btn-admin" data-type="add" PermCode="@PermCode.ProductAging_Add.GetHashCode()">添加</a>
            </div>

            <layuiTable id="ProductAging-table" lay-filter="ProductAging-table" toolbar="admin-toolBar" colsModel="typeof(ProductModel)" asp-action="List" asp-controller="ProductAging"  PermCode="@PermCode.ProductAging_list.GetHashCode()"/>

            <script type="text/html" id="admin-toolBar">
                <LayuiButton class="layui-btn layui-btn-xs layui-btn-mini" lay-event="edit" PermCode="@PermCode.ProductAging_Edit.GetHashCode()">编辑</LayuiButton>
                <LayuiButton class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" PermCode="@PermCode.ProductAging_Dele.GetHashCode()">删除</LayuiButton>
            </script>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $(function () {

            var deletePost = function (id) {
                $.Delete("/ProductAging/DeleAJax", { id: id }, function () {
                    $("#btn-submit").click();
                });
            }
            var stop = function (id) {
                $.confirmPost("/ProductAging/stop", { id: id }, function () {
                    $("#btn-submit").click();
                });
            }

            var open = function (id) {
                $.confirmPost("/ProductAging/open", { id: id }, function () {
                    $("#btn-submit").click();
                });
            }

            var edit = function (id) {
                $.openLayer("编辑产品时效", "/ProductAging/Edit?id=" + id, function () {
                    $("#btn-submit").click();
                })
            }

            table.on('tool(ProductAging-table)',
                function (obj) {

                    var data = obj.data;

                    if (obj.event === 'edit') {
                        edit(data.id);
                    } else if (obj.event === 'stop') {
                        stop(data.id);
                    }
                    else if (obj.event === 'open') {
                        open(data.id);
                    } else if (obj.event === 'del') {
                        deletePost(data.id);
                    }
                });

            $('#produts .layui-btn').on("click", function () {
                $.openLayer("新增产品时效", "/ProductAging/Add", function () {
                    $("#btn-submit").click();
                });
            });
        });





    </script>
}
