@{
    ViewData["Title"] = "Index";
}
@using Sikiro.Web.Admin.Permission
@model Sikiro.Web.Admin.Models.PageListParams<Sikiro.Web.Admin.Models.Form.FormParams>
@section Head{
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">

                <layuiInput asp-for="Params.FormNo" text="表单号" placeholder="请输入" />
                <layuiSelect asp-for="Params.Type " text="表单类型" defaultText="请选择" />
                <layuiSelect asp-for="Params.Status " text="表单状态" defaultText="请选择" />
                <layuiTableFreshButton id="btn-submit" targetFormId="admin-table" />
            </div>
        </div>

        <div class="layui-card-body">

            <layuiTable id="admin-table" lay-filter="admin-table" toolbar="admin-toolBar" colsModel="typeof(FormListVo)" asp-action="List" asp-controller="Form"  PermCode="@PermCode.Form_warehouseList.GetHashCode()"/>

            <script type="text/html" id="admin-toolBar">
                <LayuiButton class="layui-btn-xs layui-btn-mini" lay-event="edit" PermCode="@PermCode.Form_warehouseOperation.GetHashCode()">操作</LayuiButton>

            </script>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {

            var edit = function (id) {
                $.openLayer("操作表单", "/Form/HouseEdit?formId=" + id, function () {
                    $("#btn-submit").click();
                }, null, null, true);
            }

            table.on('tool(admin-table)',
                function (obj) {
                    var data = obj.data;

                    if (obj.event === 'edit') {
                        edit(data.id);
                    }
                });


        });

    </script>
}


