@{
    ViewData["Title"] = "Add";

    var allPerson = (string)ViewBag.AllPerson;
}
@model Sikiro.Web.Admin.Models.Info.AddInfo

<style>
    .layui-table, .layui-table-view {
        margin: 10px auto;
    }
</style>
<layuiForm id="layuiadmin-form-admin" asp-controller="Info" asp-action="AddAJax" style="padding: 20px">

    <layuiFormEdit asp-for="Title" />

    <layuiFormEdit asp-for="Desc" />

    <layuiSelect asp-for="ToUser" data="@ViewBag.Sendlist" input-display="LayuiFormItem" text="发送类型" />

    <div class="layui-form-item" id="divUser">
        <label class="layui-form-label">用户名称:</label>
        <div class="layui-input-block">
            <label class="layui-form-label" id="LabelUser">请选择用户</label>
            <input type="hidden" name="hiddenName" id="hiddenName" />
        </div>
    </div>

</layuiForm>

<div id="idtable" class="layui-form-item">

    <div class="layui-form-item">

        <form action="/info/UserList" method="post" class="layui-form">
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input class="layui-input" id="userName" name="userName" placeholder="请输入" text="用户名" type="text" value="">
                </div>
            </div>

            <div class="layui-inline">
                <button id="btn-submit" lay-filter="btn-submit-userlist" type="button" class="layui-btn layuiadmin-btn-admin" lay-submit="">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </form>
        <script>
            var form = layui.form;
            var table = layui.table;
            form.on('submit(btn-submit-userlist)', function (data) {
                var field = data.field;

                //执行重载
                table.reload('test', {
                    where: field
                });
            });
        </script>
    </div>
    <table class="layui-hide" id="test" lay-filter="test"></table>

</div>


@section Scripts{

    <script>
        var allPerson='@allPerson'

        var table = layui.table;
        var url = '/info/UserList';

        table.render({
            elem: '#test'
            , url: url
            , toolbar: '#toolbarDemo'
            , width: 1300
            , cols: [[
                { type: 'radio' }
                , { field: 'userName', width: 650, title: '用户名', sort: true }
                , { field: 'nickName', width: 650, title: '用户昵称 ', sort: true }
            ]]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;  //获取选中行数据
                    $("#hiddenName").val(data[0].id)
                    $("#LabelUser").html(data[0].userName)
                    break;
            };
        });

        table.on('radio(test)', function (obj) {
            $("#hiddenName").val(obj.data.id)
            $("#LabelUser").html(obj.data.userName)

        });



        $(function () {
            var value = $("#ToUser").val();
            if (allPerson == value) {
                $("#divUserlist").hide();
                $("#idtable").hide();
                $("#divUser").hide();
            }
            else {
                $("#divUserlist").show();
                $("#idtable").show();
                $("#divUser").show();

            }
            layui.use('form', function () {
                var form = layui.form;

                form.on('select(ToUser)', function (data) {
                    if (data.value == allPerson) {
                        $("#divUserlist").hide();
                        $("#idtable").hide();
                        $("#divUser").hide();

                    }
                    else {
                        $("#divUserlist").show(); $("#idtable").show(); $("#divUser").show();
                    }

                })
                //各种基于事件的操作，下面会有进一步介绍
            });


        })

    </script>

}