@{
    ViewData["Title"] = "Index";

}
@using Sikiro.Web.Admin.Permission
@model Sikiro.Web.Admin.Models.PageListParams<Sikiro.Web.Admin.Models.FeedBack.FeedBackParams>
@section Head{
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">


                <layuiInput asp-for="Params.Desc" text="反馈内容" placeholder="请输入" />

                <layuitablefreshbutton id="btn-submit" targetformid="FeedBack-table" />
            </div>
        </div>

        <div class="layui-card-body" id="FeedBack">


            <layuiTable id="FeedBack-table" lay-filter="FeedBack-table" toolbar="admin-toolBar" colsModel="typeof(FeedBackModel)" asp-action="List" asp-controller="FeedBack"  PermCode="@PermCode.FeedBack_list.GetHashCode()"/>

            <script type="text/html" id="admin-toolBar">

                <LayuiButton class="layui-btn layui-btn-xs layui-btn-mini" lay-event="edit" PermCode="@PermCode.FeedBack_Edit.GetHashCode()">回复</LayuiButton>
            </script>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {

            var edit = function (id) {
                $.openLayer("回复", "/FeedBack/Edit?id=" + id, function () {
                    $("#btn-submit").click();
                }, 480, 280)
            }
            table.on('tool(FeedBack-table)',
                function (obj) {
                    var data = obj.data;

                    if (obj.event === 'edit') {
                        edit(data.id);
                    } 
                });

   
        });


    </script>
}
