@{
    ViewData["Title"] = "Index";

    var userId = (string)ViewBag.userId;
    var userName = (string)ViewBag.userName;
}
@using Sikiro.Web.Admin.Permission
@model Sikiro.Web.Admin.Models.PageListParams<Sikiro.Web.Admin.Models.Chat.ChatParams>
@section Head{
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">


                <layuiInput asp-for="Params.News" text="消息内容" placeholder="请输入" />
                @if (!string.IsNullOrEmpty(userId))
                {
                    <div class="layui-inline">
                        <label class='layui-form-label'>用户名</label>
                        <div class='layui-input-block'>
                            <label >@userName</label>
                        </div>

                        <input class="layui-input" id="Params_UserId" name="Params.UserId" type="hidden" value="@userId" />
              
                    </div>
                }
         
                <layuitablefreshbutton id="btn-submit" targetformid="Chat-table" />
            </div>
        </div>

        <div class="layui-card-body" id="Chat">


            <layuiTable id="Chat-table" lay-filter="Chat-table" toolbar="" colsModel="typeof(ChatModel)" asp-action="List" asp-controller="Chat"   PermCode="@PermCode.Chat_List.GetHashCode()"/>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#btn-submit").click();
        });


    </script>
}
